<h2 style="background:#2b4100"> <strong style="color:white">Contact</strong></h2>
<ul>
<li><strong>NIMPEX CONSULTING</strong></li>
<li>Est une filiale de</li>
<li>BOSTON BROS Corp</li>
<li>Agence France sarl</li>
<li>capital</li>
<li>824, Chemin du Beauregard</li>
<li>78955 Carrière Sous-Poissy</li>
<li>tél. :00 331 30 65 74 48</li>
<li>RCS Versailles : 511 935 751</li>
</ul>

