
					<h2>Bienvenu sur nimpex consulting!</h2>
					 <h3 style="color:red", background:"#990019">Société de Conseil.</h3>
<img src="/images/men2 (copie).png" alt="" style="float:left; margin:0 10px 0px 0;"/><p style="text-align:justify;"><strong>Nimpex Consulting</strong>
est une société de conseil, créée en 2006 par des consultants de haut niveau venant : de la finance, de l’économie, du droit, du Marketing, de la stratégie, de l’informatique, de l’industrie et du commerce…</p><p style="text-align:justify;"> La force de notre société réside dans la mobilité et la pluridisciplinarité de nos consultants où qu’ils se trouvent, car ils sont partie intégrante de notre réseau international en interviennant souvent comme partenaire pour la mutualisation des services et des savoir-faire.</p>

<p style="text-align:justify;">Nos consultants sont par conséquents, des spécialistes extérieurs aux organisations qui font appel à nos services lorsqu’ils veulent obtenir un avis au sujet d'une question, de l'aide pour la résolution d’un problème précis, ou pour l'obtention d'un resultat.</p>

<img src="/images/mano.png" alt="" style="float:right; margin-left:10px;"/>
<h2><p>Définition de vos besoins en consulting.</p></h2>

<p style="text-align:justify;">Il y a une corrélation entre l'effort consacré par le client pour planifier ses besoins et utiliser les services de notre société de conseil et les bénéfices qu'il peut en retirer. Il est important que le client arrive à formuler sur un document écrit, ce qu'il attend de nous bien avant notre intervention, afin que notre consultant puisse cerner les secteurs qui nécessitent son intervention et d'impliquer les personnes de l'intérieur à la structure du client.</p>

<p style="text-align:justify;">Lorsque les ressources de notre consultant participent à la préparation du programme d'intervention, celui-ci sera défini avec plus de précision puisque les participants seront plus motivés à le réaliser et les chances de succès seront plus accrues.</p>

<p style="text-align:justify;">Dans un premier temps, notre client va définir le plus précisément possible le travail à accomplir en décrivant les activités qui devront êtres examinées par le consultant et les objectifs à atteindre en précisant les conditions et les raisons qui motivent l'engagement de notre consultant. Ainsi, notre consultant pourra identifier les problèmes potentiels, en déterminant les ressources internes disponibles et en fixant les contraintes de temps et d'argent.</p>
<p style="text-align:justify;">Pour sa part, le consultant va intégrer sa compréhension du problème et le plan de travail qu'il préconise. Ce plan de travail va inclure les objectifs poursuivis, la méthodologie prévue, le calendrier des activités, les ressources professionnelles utilisées et le budget de consultation.</p>


<h2>Durée des missions</h2>
<p style="text-align:justify;">Les missions sont de durée très différente en fonction des besoins de chaque client, cependant elle varie généralement entre 1 mois à 2 ans.</p>

<p style="text-align:justify;">- L'objectif des entreprises qui font appel à nos prestations de consulting vise à obtenir un point de vue externe qui permet en particulier de : - avoir une vision objective de la situation de l'entreprise - bénéficier d'expériences diversifiées (nouvelles approches…)</p>
<p style="text-align:justify;">- contourner la difficulté à traiter des sujets jugés « sensibles » (réorganisation, fusions, etc.) - créer une dynamique là où des ressources internes à l'entreprise peuvent ne pas vouloir ou ne pas pouvoir se mobiliser suffisamment (problèmes de hiérarchie, de sympathie, d'adhésion, etc.)</p> <p>- apporter des compétences et expériences techniques non maîtrisé en interne.</p>

