<h2 style="background:#311569"> <strong style="color:white">Services |</strong></h2>

<img src="/images/busi.jpg" alt="" style="float:right; margin-left:10px;" />
<h2>Compétences</h2>
<p style="text-align:justify;">Souvent, nous intervenons parce que nos clients manquent de cadres formés et disponibles pour réaliser soit : une étude, un projet, une planification etc, dans un domaine très pointu. Nimpex Consulting a dans son réseau d’expertise, le consultant expert qui correspond à l’attente réelle d'un besoin de consultation qui respecte le budget, les délais et le résultat.</p>


<h3>Expertise spécialisée</h3>
<p style="text-align:justify;">L'objectif des entreprises qui font appel à Nimpex Consulting, vise à obtenir un point de vue externe qui permet en particulier : d’avoir une vision objective de la situation de l'entreprise ou de l'organisation, de bénéficier d'une expérience diversifiée (nouvelles approches…), de contourner la difficulté à traiter des sujets jugés « sensibles » (réorganisation, fusions, etc.), de créer une dynamique là où les ressources internes à l'entreprise peuvent ne pas vouloir ou ne pas pouvoir se mobiliser suffisamment (problèmes de hiérarchie, de sympathie, d'adhésion, etc.), d’apporter des compétences et des expériences techniques non maîtrisé en interne...</p>

<h2 style="background:olive"><strong style="color:white">Nos Domaines d'intervention</strong></h2>
<ul>
<li><strong style="color:blue">Services</strong> (transport, études, distribution…)</li>
<li><strong style="color:blue">Productique</strong> (ingénierie)</li>
<li><strong style="color:blue">Informatique</strong> (SSI société de services en informatique).</li>
<li><strong style="color:blue">Communication</strong> (conseil & formation).</li>
<li><strong style="color:blue">Management</strong> (aide à la décision stratégique et opérationnelle).</li>
<li><strong style="color:blue">Redressement des entreprises en difficulté</strong> (présentation d’un plan de reprise).</li>
<li><strong style="color:blue">Formation</strong>( gémmologie, luxe, et communication).</li>
<li><strong style="color:blue">Finance</strong> (montage financier).</li>
<li><strong style="color:blue">Marketing et la commercialisation.</strong></li>
<li><strong style="color:blue">Droit fiscal et le droit des affaires.</strong></li>
<li><strong style="color:blue">Gestion des ressources humaines.</strong></li>
<li><strong style="color:blue">Conseil en organisation.</strong></li>
<li><strong style="color:blue">Redéploiement industriel et restructurations.</strong></li>
<li><strong style="color:blue">Identification des investisseurs</strong> | Cleary Gottlieb Steen & Hamilton</li>
<li><strong style="color:blue">Re-ingeneering et optimisation des process.</strong></li>
<li><strong style="color:blue">Projets iso.</strong></li>
<li><strong style="color:blue">Implantation des indicateurs de performance.</strong></li>
<li><strong style="color:blue">Conseil en environnement.</strong></li>
<li><strong style="color:blue">Media.</strong></li>
</ul>

