<h2 style="background:#311569"> <strong style="color:white">Services |</strong></h2>
<h2>Compétences</h2>
<p style="text-align:justify;">Souvent, nous intervenons parce que nos clients manquent de cadres formés et disponibles pour réaliser soit : une étude, un projet, une planification etc, dans un domaine très pointu. Nimpex Consulting a dans son réseau d’expertise, le consultant expert qui correspond à l’attente réelle d'un besoin de consultation qui respecte le budget, les délais et le résultat.</p>

<img src="/images/imgd.jpeg" alt="" style="float:right; margin:2 6px 4px 0;"/>
<h3>Expertise spécialisée</h3>
<p style="text-align:justify;">L'objectif des entreprises qui font appel à Nimpex Consulting, vise à obtenir un point de vue externe qui permet en particulier : d’avoir une vision objective de la situation de l'entreprise ou de l'organisation, de bénéficier d'une expérience diversifiée (nouvelles approches…), de contourner la difficulté à traiter des sujets jugés « sensibles » (réorganisation, fusions, etc.), de créer une dynamique là où les ressources internes à l'entreprise peuvent ne pas vouloir ou ne pas pouvoir se mobiliser suffisamment (problèmes de hiérarchie, de sympathie, d'adhésion, etc.), d’apporter des compétences et des expériences techniques non maîtrisé en interne...</p>


<ul>
 <li><strong>Services</strong> (transport, études, distribution…)</li>
<li><strong>Productique</strong> (ingénierie)</li>
<li><strong>Informatique</strong> (SSI société de services en informatique).<a href="http://stragefi.fr" target="_blank"> >></a>
<li><strong>Communication</strong> (conseil & formation).<a href="http://stragefi.fr" target="_blank"> >></a>
<li><strong>Management</strong> (aide à la décision stratégique et opérationnelle).<a href="http://stragefi.fr" target="_blank"> >></a>
<li><strong>Redressement des entreprises en difficulté</strong> (présentation d’un plan de reprise).<a href="http://stragefi.fr" target="_blank"> >></a>
<li><strong>Formation</strong>( gémmologie, luxe, et communication).<a href="http://www.ingemmologie.com/" target="_blank"> >></a>
<li><strong>Finance</strong> (montage financier).<a href="http://stragefi.fr" target="_blank">>></a>
<li><strong>Marketing et la commercialisation.</strong><a href="http://stragefi.fr" target="_blank">>></a>
<li><strong>Droit fiscal et le droit des affaires.</strong><a href="http://stragefi.fr" target="_blank">>></a>
<li><strong>Gestion des ressources humaines.</strong><a href="http://stragefi.fr" target="_blank">>></a>
<li><strong>Conseil en organisation.</strong><a href="http://stragefi.fr" target="_blank">>></a>
<li><strong>Redéploiement industriel et restructurations.</strong><a href="http://stragefi.fr" target="_blank">>></a>
<li><strong>Identification des investisseurs</strong> | Cleary Gottlieb Steen & Hamilton
<li><strong>Re-ingeneering et optimisation des process.</strong>
<li><strong>Projets iso.</strong><a href="http://stragefi.fr" target="_blank">>></a>
<li><strong>Implantation des indicateurs de performance.</strong><a href="http://stragefi.fr" target="_blank">>></a>
<li><strong>Conseil en environnement.</strong><a href="http://stragefi.fr" target="_blank">>></a>
<li><strong>Media.</strong><a href="http://www.myspace.com/stromphoto" target="_blank">>></a>
</ul>

