<h2 style="background:#15695b"> <strong style="color:white">Structure |</strong></h2>


<h3>Qui sommes-nous:</h3>

<p><strong>NIMPEX CONSULTING</strong>
est une filiale de la Société <a href="/nimpex/contact"><strong>Boston Bross</strong></a><br/> (Jamaal Fayad : <em>Phoenix Associates Group</em>. Jeddah)</p>

<img src="/images/imgd.jpeg" alt="" style="float:right; margin:2 6px 2px 0;"/>
<h3>Associés Gérants & Management</h3>
<ul>
<li><strong style="color:blue">James Howard (Trader & Financier à Londres)</strong></li>
<li><strong style="color:blue">Cohen Bradley (Trader & Industriel NY)</strong></li>
<li><strong style="color:blue">Benoit KLEIN (Consultant Paris)</strong></li>
<li><strong style="color:blue">Athanase KAY (Trader & Manager Paris-Suisse)</strong></li>
<li><strong style="color:blue">Roch OVAGA (Chef d'agence du Congo Brazzaville)</strong></li>
</ul>

<h3>Consultants</h3>
<img src="/images/millau.jpg" alt="" style="float:right; margin:2 6px 4px 0;"/>
<ul>
<li><strong style="color:blue">William DUPUY (France)</strong>.</li>
<li><strong style="color:blue">François LANGLOIS (Paris)</strong>.</li>
<li><strong style="color:blue">Yves Mathieu (Suisse)</strong>.</li>
<li><strong style="color:blue">Mamadi DIANE (Guinée Conakry)</strong>.</li>
<li><strong style="color:blue">Amara Kouyaté (Guinée Conakry)</strong>.</li>
<li><strong style="color:blue">Ilonga wa BATOMBA (RDC Congo)</strong>.</li>
<li><strong style="color:blue">Aboubacar SIDIKI (Sénégal)</strong>.</li>
<li><strong style="color:blue">Janet Bevinda (Tanzanie)</strong>.</li>
<li><strong style="color:blue">Moses Ibrahima (Ghana)</strong>.</li>
<li><strong style="color:blue">HU-Xienseng (Chine)</strong>.</li>
</ul>


<h3>Objectivité</h3>
<p style="text-align:justify;">Nous rappelons très souvent à nos clients qu'ils soient : un gouvernement, un ministère, une entreprise ou une ONG… lorsqu'ils décident d’obtenir un point de vue objectif sur une situation complexe qui implique plusieurs personnes à l'intérieur de leur entité, ils peuvent faire appel à Nimpex Consulting. En effet, il faut le redire, même la personne la plus qualifiée à l'intérieur d’une entité quelle qu'elle soit, n’est pas toujours la plus qualifiée pour analyser un problème et d’en définir les solutions pratiques. Cette personne peut être influencée par ses implications personnelles, ses habitudes et ses façons de voir les choses. Et, parce que nos consultants sont indépendants, leur impartialité est la règle dans des situations où il est difficile aux personnes qui agissent de l’intérieur de l'être.</p>

